@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: 0 5px 10px 15px #f1f1f1;
}

html::-webkit-scrollbar-thumb {
  background-color: #FE211A;
  border-radius: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
}

.btn {
  display: inline-block;
  background-color: #FE211A;
  color: #fff;
  padding: 4px 20px;
  border-radius: 5px;
  margin-top: 20px;
  border: 1px solid #FE211A;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: #3A180C;
}